<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="target">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
    <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="clickTimes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Click Times </th>
    <td mat-cell *matCellDef="let element"> {{element.clickTimes}} </td>
  </ng-container>
  
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create Time </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt|date:'yyyy-M-dd'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="do">
    <th mat-header-cell *matHeaderCellDef> 操作 </th>
    <td mat-cell *matCellDef="let element"> 
      <button mat-icon-button>
        <mat-icon class="example-tab-icon" (click)='openEditDialog(element.id)'>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="example-tab-icon" (click)='openDeleteDialog(element.id)'>delete</mat-icon>
      </button>
      

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<ng-container *ngIf="this.selection.selected.length===0; else elseTemplate">
    <button mat-raised-button (click)='openDeleteDialog(null)' disabled>删除</button>
  </ng-container>
<ng-template #elseTemplate>
    <button mat-raised-button (click)='openDeleteDialog(null)'>删除</button>
  </ng-template>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->





